<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="POS - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Dreams Pos admin template</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/admin-assets/img/favicon.jpg"
    />

    <link rel="stylesheet" href="/admin-assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="/admin-assets/css/bootstrap-datetimepicker.min.css"
    />

    <link rel="stylesheet" href="/admin-assets/css/animate.css" />

    <link
      rel="stylesheet"
      href="/admin-assets/plugins/select2/css/select2.min.css"
    />

    <link
      rel="stylesheet"
      href="/admin-assets/css/dataTables.bootstrap4.min.css"
    />

    <link
      rel="stylesheet"
      href="/admin-assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/admin-assets/plugins/fontawesome/css/all.min.css"
    />

    <link rel="stylesheet" href="/admin-assets/css/style.css" />
    <!-- Flatpickr CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="/admin-assets/css/addOffer.css" />

  </head>
  <body>
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
      <div class="header">
        <div class="header-left active">
          <a href="index.html" class="logo">
            <img src="/admin-assets/img/logo.png" alt="" />
          </a>
          <a href="index.html" class="logo-small">
            <img src="/admin-assets/img/logo-small.png" alt="" />
          </a>
          <a id="toggle_btn" href="javascript:void(0);"> </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <ul class="nav user-menu">
          <li class="nav-item">
            <div class="top-nav-search">
              <a href="javascript:void(0);" class="responsive-search">
                <i class="fa fa-search"></i>
              </a>
              <form action="#">
                <div class="searchinputs">
                  <input type="text" placeholder="Search Here ..." />
                  <div class="search-addon">
                    <span
                      ><img src="/admin-assets/img/icons/closes.svg" alt="img"
                    /></span>
                  </div>
                </div>
                <a class="btn" id="searchdiv"
                  ><img src="/admin-assets/img/icons/search.svg" alt="img"
                /></a>
              </form>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow flag-nav">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="javascript:void(0);"
              role="button"
            >
              <img src="/admin-assets/img/flags/us1.png" alt="" height="20" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/us.png" alt="" height="16" />
                English
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/fr.png" alt="" height="16" />
                French
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/es.png" alt="" height="16" />
                Spanish
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/de.png" alt="" height="16" />
                German
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown"
            >
              <img
                src="/admin-assets/img/icons/notification-bing.svg"
                alt="img"
              />
              <span class="badge rounded-pill">4</span>
            </a>
            <div class="dropdown-menu notifications">
              <div class="topnav-dropdown-header">
                <span class="notification-title">Notifications</span>
                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
              </div>
              <div class="noti-content">
                <ul class="notification-list">
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-02.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">John Doe</span> added new
                            task
                            <span class="noti-title"
                              >Patient appointment booking</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">4 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-03.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Tarah Shropshire</span>
                            changed the task name
                            <span class="noti-title"
                              >Appointment booking with payment gateway</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">6 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-06.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Misty Tison</span> added
                            <span class="noti-title">Domenic Houston</span> and
                            <span class="noti-title">Claire Mapes</span> to
                            project
                            <span class="noti-title"
                              >Doctor available module</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">8 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-17.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Rolland Webber</span>
                            completed task
                            <span class="noti-title"
                              >Patient and Doctor video conferencing</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">12 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-13.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Bernardo Galaviz</span>
                            added new task
                            <span class="noti-title">Private chat module</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">2 days ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="topnav-dropdown-footer">
                <a href="activities.html">View all Notifications</a>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow main-drop">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle nav-link userset"
              data-bs-toggle="dropdown"
            >
              <span class="user-img"
                ><img src="/admin-assets/img/profiles/avator1.jpg" alt="" />
                <span class="status online"></span
              ></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
              <div class="profilename">
                <div class="profileset">
                  <span class="user-img"
                    ><img src="/admin-assets/img/profiles/avator1.jpg" alt="" />
                    <span class="status online"></span
                  ></span>
                  <div class="profilesets">
                    <h6>John Doe</h6>
                    <h5>Admin</h5>
                  </div>
                </div>
                <hr class="m-0" />
                <a class="dropdown-item" href="profile.html">
                  <i class="me-2" data-feather="user"></i> My Profile</a
                >
                <a class="dropdown-item" href="generalsettings.html"
                  ><i class="me-2" data-feather="settings"></i>Settings</a
                >
                <hr class="m-0" />
                <a class="dropdown-item logout pb-0" href="signin.html"
                  ><img
                    src="/admin-assets/img/icons/log-out.svg"
                    class="me-2"
                    alt="img"
                  />Logout</a
                >
              </div>
            </div>
          </li>
        </ul>

        <div class="dropdown mobile-user-menu">
          <a
            href="javascript:void(0);"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="generalsettings.html">Settings</a>
            <a class="dropdown-item" href="signin.html">Logout</a>
          </div>
        </div>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="">
                <a href="/admin/dashboard"><span> Dashboard</span> </a>
              </li>

              <li class="">
                <a href="/admin/users"><span> Users</span> </a>
              </li>

              <li class="">
                <a href="/admin/productList"><span> Products</span> </a>
              </li>
              <li class="">
                <a href="/admin/category"><span> Category</span> </a>
              </li>
              <li class="">
                <a href="/admin/orderList"><span> Orders</span> </a>
              </li>
              <li class="">
                <a href="/admin/coupon"><span> Coupon</span> </a>
              </li>
              <li class="active">
                <a href="/admin/offer"><span> Offer</span> </a>
              </li>
              <li class="">
                <a
                  onclick="message(successMessage= 'Logout Successfully')"
                  href="/admin/logout"
                  ><span> Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="page-wrapper">
        <div class="content">
          <div class="page-header">
            <div class="page-title">
              <h4>Edit Offer</h4>
              <h6>Update Offer Details</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <form
                id="offerForm"
                action="/admin/offer/edit-offer/<%= offer._id %>"
                method="PUT"
                novalidate
              >
                <!-- Offer Type Selection -->
                <div class="row mb-4">
                  <div class="col-12">
                    <label class="form-label d-block">Offer Type</label>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="offerType"
                        id="productOffer"
                        value="product"
                        <%= offer.offerType === "product" ? 'checked' : '' %>
                      />
                      <label class="form-check-label" for="productOffer"
                        >Product Offer</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="offerType"
                        id="categoryOffer"
                        value="category"
                        <%= offer.offerType === "category"? 'checked' : '' %>
                      />
                      <label class="form-check-label" for="categoryOffer"
                        >Category Offer</label
                      >
                    </div>
                    <small class="text-danger" id="offerType-error"></small>
                  </div>
                </div>


                <div class="row ">
                  <!-- Product Dropdown -->
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div id="productWrapper" style="<%= offer.offerType === 'product' ? '' : 'display:none;' %>">
                    <label for="productSelect" class="form-label">Select Product</label>
                    <select class="form-select" name="productId" id="productSelect">
                      <option value="">Choose Product...</option>
                      <% products.forEach(product => { %>
                         <option value="<%= product._id %>" <%= offer.productId?.toString() === product._id?.toString() ? 'selected' : '' %>><%= product.name %></option>
                      <% }) %>
                    </select>
                    <small class="text-danger" id="productId-error"></small>
                  </div>

                  <!-- Category Dropdown -->
                  <div id="categoryWrapper" style="<%= offer.offerType === 'category' ? '' : 'display:none;' %>">
                    <label for="categorySelect" class="form-label">Select category</label>
                    <select class="form-select" name="categoryId" id="categorySelect">
                    <option value="" >Choose Category...</option>
                      <% categories.forEach(category => { %>
                        <option value="<%= category._id %>" <%= offer.categoryId?.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                    <% }) %>
                    </select>
                    <small class="text-danger" id="categoryId-error"></small>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Discount type</label>
                    <div class="row">
                      <div class="col-lg-10 col-sm-10 col-10">
                        <select class="select form-control" name="discountType">
                          <option value="">Select</option>
                          <option value="percentage" <%= offer.discountType === 'percentage'? 'selected' : '' %>>Percentage</option>
                          <option value="flat" <%= offer.discountType === 'flat' ? 'selected' : '' %>>Flat</option>
                        </select>
                        <small
                          class="text-danger"
                          id="discountType-error"
                        ></small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Discount Amount</label>
                    <input
                      type="number"
                      name="discountAmount"
                      class="form-control"
                      min="500"
                      max="3000"
                      value="<%= offer.discountAmount %>"
                    />
                    <small
                      class="text-danger"
                      id="discountAmount-error"
                    ></small>
                  </div>
                </div>
                

                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Start Date</label>
                      <div class="input-groupicon">
                        <input
                          id="StartDatePicker"
                          type="text"
                          placeholder="YYYY-MM-DD"
                          class="form-control"
                          name="startDate"
                          value="<%= offer.startDate.toISOString().split('T')[0] %>"
                        />
                      </div>
                      <small class="text-danger" id="startDate-error"></small>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                      <label>End Date</label>
                      <div class="input-groupicon">
                        <input
                          id="endDatePicker"
                          type="text"
                          placeholder="YYYY-MM-DD"
                          class="form-control"
                          name="endDate"
                          value="<%= offer.endDate.toISOString().split('T')[0] %>"
                        />
                      </div>
                      <small class="text-danger" id="endDate-error"></small>
                    </div>
                  </div>
                </div>
                <!-- second row end-->

                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-submit me-2">
                      Submit
                    </button>
                    <a href="/admin/offer" class="btn btn-cancel">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/admin-assets/js/jquery-3.6.0.min.js"></script>

    <script src="/admin-assets/js/feather.min.js"></script>

    <script src="/admin-assets/js/jquery.slimscroll.min.js"></script>

    <script src="/admin-assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="/admin-assets/js/bootstrap.bundle.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.min.js"></script>

    <script src="/admin-assets/js/moment.min.js"></script>
    <script src="/admin-assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/admin-assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin-assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="/admin-assets/js/script.js"></script>

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      flatpickr("#StartDatePicker", {
        dateFormat: "Y-m-d",
        minDate: "today",
      });

      flatpickr("#endDatePicker", {
        dateFormat: "Y-m-d",
        minDate: "today",
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        
          const productRadio = document.getElementById('productOffer');
        const categoryRadio = document.getElementById('categoryOffer');
        const productWrapper = document.getElementById('productWrapper');
        const categoryWrapper = document.getElementById('categoryWrapper');

        console.log(productRadio, categoryRadio, productWrapper, categoryWrapper);
        
        

        function toggleOfferType(){
          if (productRadio.checked) {
            categoryRadio.checked = false;
            productWrapper.style.display = 'block';
            categoryWrapper.style.display = 'none';
            document.getElementById('categorySelect').value = '';
          } else if (categoryRadio.checked) {
            productRadio.checked = false;
            productWrapper.style.display = 'none';
            categoryWrapper.style.display = 'block';
            document.getElementById('productSelect').value = '';
          }
        }

        toggleOfferType();

        productRadio.addEventListener('change', function(){
          if (this.checked) { 
                    toggleOfferType();
                }
        });
        categoryRadio.addEventListener('change', function() {
                if (this.checked) {
                    toggleOfferType();
                }
            });
      
    const form = document.getElementById("offerForm");
      form.addEventListener("submit", function (e) {
        e.preventDefault();
          let isValid = true;

          // Clear all errors first
          document.querySelectorAll(".text-danger").forEach((el) => (el.innerText = ""));

          const offerType = document.querySelector('input[name="offerType"]:checked')?.value;
          const productId = document.getElementById("productSelect").value.trim();
          const categoryId = document.getElementById("categorySelect").value.trim();
          const discountType = document.querySelector('select[name="discountType"]').value.trim();
          const discountAmount = document.querySelector('input[name="discountAmount"]').value.trim();
          const startDate = document.getElementById("StartDatePicker").value.trim();
          const endDate = document.getElementById("endDatePicker").value.trim();
          console.log("all inputs", offerType, productId, categoryId, discountAmount, discountType, startDate, endDate);
          

          // Regex patterns
          const discountRegex = /^[0-9]+(\.[0-9]{1,2})?$/;
          const dateRegex = /^\d{4}-\d{2}-\d{2}$/;

          // Offer type specific validation
          if (offerType === "product" && !productId) {
            document.getElementById("productId-error").innerText ="Please select a product";
            isValid = false;
          }
          if (offerType === "category" && !categoryId) {
            console.log("category");
            
            document.getElementById("categoryId-error").innerText ="Please select a category";
            isValid = false;
          }

          // Discount type
          if (!discountType) {
            document.getElementById("discountType-error").innerText ="Select a discount type";
            isValid = false;
          }

          // Discount amount
          if (!discountAmount) {
            document.getElementById("discountAmount-error").innerText ="Enter a discount amount";
            isValid = false;
          } else if (
            !discountRegex.test(discountAmount) ||
            Number(discountAmount) <= 0
          ) {
            document.getElementById("discountAmount-error").innerText ="Enter a valid numeric discount (up to 2 decimals)";
            isValid = false;
          }

          // Start date
          if (!startDate) {
            document.getElementById("startDate-error").innerText ="Please select a start date";
            isValid = false;
          } else if (!dateRegex.test(startDate)) {
            document.getElementById("startDate-error").innerText ="Start date must be in YYYY-MM-DD format";
            isValid = false;
          }

          // End date
          if (!endDate) {
            document.getElementById("endDate-error").innerText ="Please select an end date";
            isValid = false;
          } else if (!dateRegex.test(endDate)) {
            document.getElementById("endDate-error").innerText ="End date must be in YYYY-MM-DD format";
            isValid = false;
          }

          // Date comparison
          if (
            dateRegex.test(startDate) &&
            dateRegex.test(endDate) &&
            new Date(endDate) <= new Date(startDate)
          ) {
            document.getElementById("endDate-error").innerText ="End date must be after start date";
            isValid = false;
          }
          console.log("validation completed");
          

          // Show SweetAlert if errors exist
          if (!isValid) {
            
            Swal.fire({
              icon: "error",
              title: "Please fix the errors",
              text: "Some fields are missing or invalid. Check the highlighted errors and try again.",
              confirmButtonColor: "#ff6f00",
            });
            return;
          }
        

        const data = {
          offerType,
          productId,
          categoryId,
          discountAmount,
          discountType,
          startDate,
          endDate
        };
       

        console.log("data", data);
        

        //create AJAX request
        const xhr = new XMLHttpRequest();
        xhr.open("PUT", form.action);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onload = function () {
          if (xhr.status === 200) {

              const response = JSON.parse(xhr.responseText);
              if(response.success) {
                window.location.href = "/admin/offer";
              } else {
                // show backend validation errors
                for (const key in response.errors) {
                  const el = document.getElementById(`${key}-error`);
                  if(el) {
                    el.innerText = response.errors[key];
                  }
                }
                Swal.fire({
                  icon: "error",
                  title: "Server Validation Failed",
                  text: "Please check the highlighted errors.",
                  confirmButtonColor: "#ff6f00"
                });
              }

          } else {
            Swal.fire({
              icon: "error",
              title: "Unexpected Error",
              text: "Something went wrong. Please try again later.",          // this is in case server responded with error
              confirmButtonColor: "#ff6f00"
            });
          }
        };

        xhr.onerror = function () {
          Swal.fire({
            icon: "error",
            title: "Network Error",
            text: "Failed to connect to the server",                // this is in case server didn't respond at all, or user is offline
            confirmButtonColor: "#ff6f00"
          });
        };

        xhr.send(JSON.stringify(data));

        });

        });
    </script>
  </body>
</html>
