<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>The Elegant Adobe - Home Decor</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <link rel="stylesheet" href="/admin-assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/admin-assets/css/animate.css">

    <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/admin-assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/admin-assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/admin-assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/admin-assets/css/style.css">
     <link rel="stylesheet" href="/admin-assets/css/logo.css" />

</head>

<body>
    <div class="main-wrapper">

        <div class="header"> 

            <div class="header-left active">
                <a href="/admin/dashboard" class="logo">
                    <%- include('../../views/partials/icons/icon-logo') %>
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="">
                            <a href="/admin/dashboard"><span>
                                    Dashboard</span> </a>
                        </li>

                        <li class="">
                            <a href="/admin/users"><span>
                                    Users</span> </a>
                            
                               
                            
                        </li>

                        <li class="">
                            <a href="/admin/productList"><span>
                                    Products</span> </a>
                            
                               
                            
                        </li>                        
                        <li class="">
                            <a href="/admin/category"><span>
                                    Category</span> </a>
                            
                               
                            
                        </li>                        
                        <li class="active">
                            <a href="/admin/orderList"><span>
                                    Orders</span> </a>
                            
                               
                            
                        </li>                        
                        <li class="">
                            <a href="/admin/coupon"><span>
                                    Coupon</span> </a>
                            
                               
                            
                        </li>                        
                        <li class="">
                            <a href="/admin/offer"><span>
                                    Offer</span> </a>
                            
                               
                            
                        </li>      
                        <li class="">
                            <a href="/admin/salesReport"><span> Sales Report</span> </a>
                        </li>                  
                        <li class="">
                            <a onclick="message(successMessage= 'Logout Successfully')" href="/admin/logout"><span>
                                    Logout</span> </a>
                            
                               
                            
                        </li>                        


                        
                    </ul>
                </div>
            </div>
        </div>


        <!-- ====================================== -->

        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Order Details</h4>
                        <h6>View order details</h6>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-sales-split">
                            <h2>Order Detail : <%= order.orderId %></h2>
                            
                        </div>
                        <div class="invoice-box table-height"
                            style="max-width: 1600px;width:100%;overflow: auto;margin:15px auto;padding: 0;font-size: 14px;line-height: 24px;color: #555;">
                            <table cellpadding="0" cellspacing="0"
                                style="width: 100%;line-height: inherit;text-align: left;">
                                <tbody>
                                    <tr class="top">
                                        <td colspan="6" style="padding: 5px;vertical-align: top;">
                                            <table style="width: 100%;line-height: inherit;text-align: left;">
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;margin-bottom:25px;">
                                                                <font
                                                                    style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                                    Customer Info</font>
                                                            </font><br>
                                                            <font style="vertical-align: inherit;">
                                                                <font
                                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                                    <%= order.userId.phone %></font>
                                                            </font><br>
                                                            <font style="vertical-align: inherit;">
                                                                <font
                                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                                     <%= order.shippingAddress.address %>, <br><%= order.shippingAddress.locality %>, <br><%= order.shippingAddress.state %>, <br><%= order.shippingAddress.country %> - <%= order.shippingAddress.pincode %></font>
                                                            </font><br>
                                                        </td>
                                                        <td
                                                            style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;">
                                                                <font
                                                                    style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                                    Payment Method</font>
                                                            </font><br>
                                                        </td>

                                                        <td
                                                            style="padding:5px;vertical-align:top;text-align:right;padding-bottom:20px">
                                                            <font style="vertical-align: inherit;">
                                                                <font
                                                                    style="vertical-align: inherit;font-size: 14px;color:#2E7D32;font-weight: 400;">
                                                                    <%= order.paymentMethod %></font>
                                                            </font><br>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="heading " style="background: #F3F2F7;">
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Product Name
                                        </td>
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            QTY
                                        </td>
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Price
                                        </td>
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Subtotal
                                        </td>
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Status
                                        </td>
                                        <td
                                            style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                            Actions
                                        </td>
                                    </tr>
                                    <% order.products.forEach((product, index) => { %>
                                        <tr class="details" style="border-bottom:1px solid #E9ECEF ;">
                                            <td
                                                style="padding: 10px;vertical-align: top; display: flex;align-items: center;">
                                                <% let img = product.productId.image[0] %>
                                                <img src="<%= img.url %>" 
                                                    alt="img" class="me-2"
                                                    style="width:40px;height:40px;">
                                                <%= product.productId.name %>
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                <%= product.quantity %>
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                <%= product.discountedPrice %>
                                            </td>
                                            <td style="padding: 10px;vertical-align: top; ">
                                                <%= (product.quantity * product.discountedPrice).toFixed(2) %>
                                            </td>
                                            <td style="padding: 10px; vertical-align: top;">
                                                <div><%= product.status %></div>

                                                <% if (product.status === 'Delivered' && product.deliveredAt) { %>
                                                    <div style="color: green; font-size: 0.8rem; margin-top: 4px;">
                                                    Delivered on: <%= new Date(product.deliveredAt).toLocaleDateString('en-IN') %>
                                                    </div>
                                                <% } %>

                                                <% if (product.status === 'Cancelled' && product.cancellationReason) { %>
                                                    <div style="color: red; font-size: 0.8rem; margin-top: 4px;">
                                                    Reason: <%= product.cancellationReason %>
                                                    </div>
                                                <% } %>

                                                <% if (product.status === 'Return Requested' && product.returnReason) { %>
                                                    <div style="color: orange; font-size: 0.8rem; margin-top: 4px;">
                                                    Return Requested: <%= product.returnReason %>
                                                    </div>
                                                <% } %>

                                                <% if (product.status === 'Returned' && product.returnReason) { %>
                                                    <div style="color: purple; font-size: 0.8rem; margin-top: 4px;">
                                                    Returned: <%= product.returnReason %>
                                                    </div>
                                                <% } %>

                                                <% if (product.refundedAmount && product.refundedAmount > 0) { %>
                                                    <div style="color: #007BFF; font-size: 0.85rem; margin-top: 4px;">
                                                     Refunded: ₹<%= product.refundedAmount.toFixed(2) %>
                                                    </div>
                                                <% } %>
                                                </td>



                                            <!-- Management Controls -->
                                                <td style="padding: 10px; vertical-align: top;">
                                                    <div class="d-flex align-items-center gap-2">
                                                <input type="hidden" class="order-id" value="<%= order._id %>">
                                                <input type="hidden" class="product-index" value="<%= index %>">
                                                <% 
                                                    const statusFlow = {
                                                    "Pending": ["Processing", "Cancelled"],
                                                    "Processing": ["Shipped", "Cancelled"],
                                                    "Shipped": ["Delivered", "Returned"],
                                                    "Delivered": ["Returned"],
                                                    "Cancelled": [],
                                                    "Returned": [],
                                                     "Return Requested": ["Returned"]
                                                    };
                                                %>

                                                <select class="status-dropdown form-select mb-2" data-order-id="<%= order._id %>" data-index="<%= index %>">
                                                    <% const statusOptions = ["Pending", "Processing", "Shipped", "Delivered", "Cancelled", "Returned", "Return Requested"]; %>
                                                    <% statusOptions.forEach(opt => { 
                                                        const allowed = statusFlow[product.status] || [];
                                                    %>
                                                    
                                                        <% if (allowed.includes(opt) || opt === product.status) { %>
                                                            <option value="<%= opt %>" <%= product.status === opt ? 'selected' : '' %>>
                                                                <%= opt %>
                                                            </option>
                                                        <% } %>

                                                    <% }) %>
                                                </select>
                                                

                                                <button 
                                                    class="btn btn-cancel cancel-product-btn"
                                                    data-order-id="<%= order._id %>"
                                                    data-index="<%= index %>"
                                                    <%= !['Pending', 'Processing'].includes(product.status) ? 'disabled' : '' %>>
                                                    Cancel
                                                </button>
                                                </div>
                                                </td>
                                        </tr>
                                   <% }) %>
                                    
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                           <!-- a part was removed from here -->
                            <div class="row">
                                <!-- a part was removed from here -->
                                <div class="col-lg-6 ">
                                    <div class="total-order w-100 max-widthauto m-auto mb-4">
                                            <div class="total">
                                                <h4>Grand Total</h4>
                                                <h5>₹ <%= grandTotal.toFixed(2) %></h5>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <a href="/admin/orderList" class="btn btn-submit me-2">Back</a>
                                <!-- cancel button -->

                    

                                <% 
                                    const cancellableStatuses = ['Pending', 'Processing']; 
                                    const allCancellable = order.products.every(p => cancellableStatuses.includes(p.status));
                                 %>

                                    <button 
                                    class="btn btn-cancel" 
                                    id="cancelOrderBtn" 
                                    data-id="<%= order._id %>" 
                                    <%= allCancellable ? '' : 'disabled' %>
                                    >
                                    Cancel Order
                                    </button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/admin-assets/js/jquery-3.6.0.min.js"></script>

    <script src="/admin-assets/js/feather.min.js"></script>

    <script src="/admin-assets/js/jquery.slimscroll.min.js"></script>

    <script src="/admin-assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="/admin-assets/js/bootstrap.bundle.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.min.js"></script>

    <script src="/admin-assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin-assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="/admin-assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

      $(document).ready(function () {
    $('#cancelOrderBtn')?.on('click', function () {
      const orderId = $(this).data('id');

      Swal.fire({
        title: 'Are you sure?',
        text: 'This action will cancel the order and refund the wallet.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        cancelButtonText: 'Cancel',
        confirmButtonText: 'Yes, Cancel Order!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/admin/orders/${orderId}/cancel`,
            method: 'POST',
            contentType: 'application/json',
            success: function (data) {
              Swal.fire({
                title: data.success ? 'Cancelled' : 'Oops!',
                text: data.message,
                icon: data.success ? 'success' : 'error'
              }).then(() => {
                if (data.success) location.reload();
              });
            },
            error: function (xhr, status, error) {
                console.error('AJAX Error:', status, error);
               Swal.fire({
                    title: 'Something went wrong!',
                    text: 'We couldn’t process your request. Please try again later.',
                    icon: 'error'
                });
                }

          });
        }
      });
    });
  });


    //status update AJAX (dropdown)

   $('.status-dropdown').each(function () {
    // Save the initial value for each dropdown
    $(this).data('previous', $(this).val());
});

$('.status-dropdown').on('focus', function () {
    // Update previous value when dropdown is focused
    $(this).data('previous', $(this).val());
});

$('.status-dropdown').on('change', function () {
    const dropdown = $(this);
    const orderId = dropdown.data('order-id');
    const index = dropdown.data('index');
    const newStatus = dropdown.val();
    const previousStatus = dropdown.data('previous'); // old value

    $.ajax({
        url: '/admin/orders/update-status',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ orderId, productIndex: index, newStatus }),
        success: function (res) {
            Swal.fire({
                icon: 'success',
                title: 'Status Updated',
                text: res.message,
                timer: 1500,
                showConfirmButton: false
            }).then(() => {
                location.reload();
            })
        },
        error: function (err) {

            let msg = 'There was an error updating the product status.';
            if (err.responseJSON && err.responseJSON.message) {
                msg = err.responseJSON.message; // backend reason
            }

            Swal.fire({
                icon: 'error',
                title: 'Update Failed',
                text: msg
            });

            // Revert dropdown back to previous value
            dropdown.val(previousStatus);
        }
    });
});


    $('.cancel-product-btn').on('click', function(){
        const orderId = $(this).data('order-id');
        const index = $(this).data('index');
        

        Swal.fire({
            title: 'Are you sure?',
            text: "This product will be cancelled and refunded!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#aaa',
            confirmButtonText: 'Yes, cancel it!',
            reverseButtons: true
        }).then((result) =>{
            if(result.isConfirmed) {
                $.ajax({
                    url: '/admin/order/cancel-product',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ orderId, productIndex: index}),
                    success: function (res) {
                        
                        Swal.fire({
                            icon: 'success',
                            title: 'Cancelled',
                            text: res.message,
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() =>{
                            location.reload();
                        });
                    },
                    error: function (err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'There was an error cancelling the product.'
                        });
                    }
                });
            }
        });
    });

   
          function message(msg){
            if(msg){
                  Swal.fire({
                    positition: "center",
                    icon: "success",
                    title: msg,
                    showConfirmButton: false,
                    timer: 3000
                  }).then(() =>{
                    window.location.href = "/admin";
                  })
            }
          }

    


    </script>
</body>

</html>