<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="images/favicon.png" rel="shortcut icon">
    <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="/css/productDetailsLogo.css">

    <link rel="stylesheet" href="/css/profileName.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <header class="header--style-1 header--box-shadow">

            <!--====== Nav 1 ======-->
            <nav class="primary-nav primary-nav-wrapper--border">
                <div class="container">

                    <!--====== Primary Nav ======-->
                    <div class="primary-nav">

                        <!--====== Main Logo ======-->

                         <a
                                class="main-logo"
                                href="/"
                                style="display: inline-block; margin-left: -15px"
                            >
                                <%- include('../../views/partials/icons/icon-logo') %>
                            </a>
                        <!--====== End - Main Logo ======-->



                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation">

                            <button class="btn btn--icon toggle-button fas fa-cogs" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                               <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">

                                        <%if(locals.user){%>

                                                <a href="/profile"><i ><%=locals.user.name%></i></a>

                                        <%}else{%>

                                                <a><i class="far fa-user-circle"></i></a>

                                        <%}%>
                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            
                                                    <%if(locals.user){%>
                                                        <li>
                                                        <a href="/profile" title="<%=locals.user.name%>"><i><%=locals.user.name%></i>

                                                            </a></li> 
                                                            
                                                   
                                                        
                                                            <li>

                                                                <a href="/logout"><i class="fas fa-lock-open u-s-m-r-6"></i>
            
                                                                    <span>Logout</span></a></li>
                                                        <%}else{%>
                                                            <li>

                                                                <a href="/signup"><i class="fas fa-user-plus u-s-m-r-6"></i>
            
                                                                    <span>Signup</span></a></li>
                                                                    <li>

                                                                        <a href="/login"><i class="fas fa-lock u-s-m-r-6"></i>
                    
                                                                            <span>Login</span></a></li>
                                                            <%}%>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Primary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 1 ======-->


            <!--====== Nav 2 ======-->
            <nav class="secondary-nav-wrapper">
                <div class="container">

                    <!--====== Secondary Nav ======-->
                    <div class="secondary-nav">

                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation1"></div>
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation2"></div>
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation3">

                            <button class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li>

                                        <a href="/"><i class="fas fa-home"></i></a></li>
                                    <li>

                                        <a href="/wishlist"><i class="far fa-heart"></i></a></li>
                                    <li class="has-dropdown">

                                        <a class="mini-cart-shop-link" href="/cart"><i class="fas fa-shopping-bag"></i></a>
                                        
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Secondary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 2 ======-->
        </header>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-edit-profile.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, <%=user.name%></span>
                                            <ul class="dash__f-list">
                                               
                                                <li>

                                                    <a href="/profile">My Profile</a></li>
                                                <li>

                                                    <a href="/address">Address Book</a></li>
                                                
                                                <li>

                                                    <a href="/orders">My Orders</a></li>
                                                <li>

                                                    <a href="/wallet">My Wallet</a></li>
                                                <li>

                                                    <a onclick="message(successMessage= 'Logout Successfully')" href="/logout"><span> Logout</span> </a>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Edit Profile</h1>

                                            <!-- <span class="dash__text u-s-m-b-30">Looks like you haven't update your profile</span> -->
                                            <div class="dash__link dash__link--secondary u-s-m-b-30">

                                                <!-- <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a></div> -->

                                             
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p" id="editProfileForm" action="/updateProfile" method="POST">
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30 form-group">

                                                                <label class="gl-label" for="name">FULL NAME *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="name" value="<%=user.name %>" name="name">
                                                                <p style="color: red" id="name-error" class="error-message"></p>
                                                            </div>

                                                        </div>
                                                             <div class="gl-inline">
                                                            <div class="u-s-m-b-30 form-group">

                                                                  <label class="gl-label" for="gender">GENDER</label>
                                                                  <select class="select-box select-box--primary-style u-w-100" id="gender" name="gender">
                                                                    <option value="">Select</option>
                                                                    <option value="male" <%= user.gender === 'male' ? 'selected' : ''%>>Male</option>
                                                                    <option value="female" <%= user.gender === 'female' ? 'selected' : ''%>>Female</option>
                                                                </select>
                                                                <p style="color: red" id="gender-error" class="error-message"></p>
                                                                </div>

                                                        </div> 
                                                        
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">E-mail</h2> 
                                                                <!-- <span class="dash__text"><johndoe@domain.com></span> -->

                                                                <input class="input-text input-text--primary-style" type="email" id="email" value="<%= user.email %>" name="email" readonly>
                                                                <p style="color: red" id="email-error" class="error-message"></p>
                                                                <div class="dash__link dash__link--secondary">
                                                                </div>
                                                            </div>
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">Phone</h2>
                                                                <input 
                                                                class="input-text input-text--primary-style" 
                                                                type="text" 
                                                                id="phone" 
                                                                name="phone" 
                                                                value="<%= user.phone %>" />
                                                                <p style="color: red" id="phone-error" class="error-message"></p>
                                                                <div class="dash__link dash__link--secondary">

                                                                    </div>
                                                            </div>
                                                        </div>

                                                       <!-- Button Section -->
                                                     
                                                               <div class="u-s-m-b-30" style="margin-top: 30px; margin-left: 520px;">
                                                                <button
                                                                    class="dash__custom-link btn--e-brand-b-2"
                                                                    type="submit"
                                                                    style="border: none; padding: 8px 5px; font-weight: 600; border-radius: 8px;">
                                                                    SAVE
                                                                </button>
                                                                </div>


                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>

        <!--====== Main Footer ======-->
        <footer>
            <div class="outer-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">

                                <span class="outer-footer__content-title">Contact Us</span>
                                <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>

                                    <span>4247 Ashford Drive Virginia VA-20006 USA</span></div>
                                <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>

                                    <span>(+0) 900 901 904</span></div>
                                <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>

                                    <span>contact@domain.com</span></div>
                                <div class="outer-footer__social">
                                    <ul>
                                        <li>

                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>

                                            <a class="s-youtube--color-hover" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="outer-footer__content u-s-m-b-40">

                                        <span class="outer-footer__content-title">Information</span>
                                        <div class="outer-footer__list-wrap">
                                            <ul>
                                                <li>

                                                    <a href="cart.html">Cart</a></li>
                                                <li>

                                                    <a href="dashboard.html">Account</a></li>
                                                <li>

                                                    <a href="shop-side-version-2.html">Manufacturer</a></li>
                                                <li>

                                                    <a href="dash-payment-option.html">Finance</a></li>
                                                <li>

                                                    <a href="shop-side-version-2.html">Shop</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="outer-footer__content u-s-m-b-40">
                                        <div class="outer-footer__list-wrap">

                                            <span class="outer-footer__content-title">Our Company</span>
                                            <ul>
                                                <li>

                                                    <a href="about.html">About us</a></li>
                                                <li>

                                                    <a href="contact.html">Contact Us</a></li>
                                                <li>

                                                    <a href="index.html">Sitemap</a></li>
                                                <li>

                                                    <a href="dash-my-order.html">Delivery</a></li>
                                                <li>

                                                    <a href="shop-side-version-2.html">Store</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="outer-footer__content">

                                <span class="outer-footer__content-title">Join our Newsletter</span>
                                <form class="newsletter">
                                    <div class="u-s-m-b-15">
                                        <div class="radio-box newsletter__radio">

                                            <input type="radio" id="male" name="gender">
                                            <div class="radio-box__state radio-box__state--primary">

                                                <label class="radio-box__label" for="male">Male</label></div>
                                        </div>
                                        <div class="radio-box newsletter__radio">

                                            <input type="radio" id="female" name="gender">
                                            <div class="radio-box__state radio-box__state--primary">

                                                <label class="radio-box__label" for="female">Female</label></div>
                                        </div>
                                    </div>
                                    <div class="newsletter__group">

                                        <label for="newsletter"></label>

                                        <input class="input-text input-text--only-white" type="text" id="newsletter" placeholder="Enter your Email">

                                        <button class="btn btn--e-brand newsletter__btn" type="submit">SUBSCRIBE</button></div>

                                    <span class="newsletter__text">Subscribe to the mailing list to receive updates on promotions, new arrivals, discount and coupons.</span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="lower-footer__content">
                                <div class="lower-footer__copyright">

                                    <span>Copyright © 2018</span>

                                    <a href="index.html">Reshop</a>

                                    <span>All Right Reserved</span></div>
                                <div class="lower-footer__payment">
                                    <ul>
                                        <li><i class="fab fa-cc-stripe"></i></li>
                                        <li><i class="fab fa-cc-paypal"></i></li>
                                        <li><i class="fab fa-cc-mastercard"></i></li>
                                        <li><i class="fab fa-cc-visa"></i></li>
                                        <li><i class="fab fa-cc-discover"></i></li>
                                        <li><i class="fab fa-cc-amex"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--====== Modal Section ======-->


        <!--====== Unsubscribe or Subscribe Newsletter ======-->
        <div class="modal fade" id="dash-newsletter">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal--shadow">
                    <div class="modal-body">
                        <form class="d-modal__form">
                            <div class="u-s-m-b-15">
                                <h1 class="gl-modal-h1">Newsletter Subscription</h1>

                                <span class="gl-modal-text">I have read and understood</span>

                                <a class="d_modal__link" href="dash-edit-profile.html">Ludus Privacy Policy</a>
                            </div>
                            <div class="gl-modal-btn-group">

                                <button class="btn btn--e-brand-b-2" type="submit">SUBSCRIBE</button>

                                <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--====== Unsubscribe or Subscribe Newsletter ======-->
        <!--====== End - Modal Section ======-->
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="js/app.js"></script>
    <!-- CSS (optional, for animations) -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


   <script>
document.querySelector('#editProfileForm').addEventListener('submit', async function (e) {
    e.preventDefault();

    // Validation rules
    const rules = [
        { name: 'name', regex: /^[a-zA-Z\s.]+$/, message: 'Name must contain only letters, spaces, or dot.' },
        { name: 'phone', regex: /^[6-9]\d{9}$/, message: 'Phone must be a valid 10-digit number starting with 6-9.' },
        { name: 'gender', regex: /^(male|female)$/, message: 'Please select your gender.' }
    ];

    const form = this;
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    // Clear previous error messages
    rules.forEach(rule => {
        const errorField = document.getElementById(`${rule.name}-error`);
        if (errorField) {
            errorField.style.display = 'none';
            errorField.textContent = '';
        }
    });

    let isValid = true;

    // Frontend validation
    rules.forEach(rule => {
        const value = data[rule.name]?.trim();
        const errorField = document.getElementById(`${rule.name}-error`);

        if (!rule.regex.test(value || '')) {
            isValid = false;
            if (errorField) {
               errorField.style.display = "block";
               errorField.textContent = rule.message;
            }
        }
    });

    if (!isValid) {
        Swal.fire('Validation Error', 'Please correct the highlighted fields.', 'warning');
        return;
    }

    try {
        const res = await fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        const result = await res.json();

        if (res.ok && result.success) {
            Swal.fire({
                title: 'Success',
                text: result.message || 'Profile updated successfully!',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then(() => {
                window.location.href = '/profile';
            });
        } else if (result.errors) {
            // Backend validation errors
            Object.entries(result.errors).forEach(([field, message]) => {
                const errorField = document.getElementById(`${field}-error`);
                if (errorField) errorField.innerText = message;
            });
            Swal.fire('Submission Failed', 'Please fix the errors and try again.', 'error');
        } else {
            Swal.fire('Failed', result.message || 'Unknown error occurred.', 'error');
        }

    } catch (error) {
        console.error("Error:", error);
        Swal.fire('Server Error', 'Something went wrong. Please try again later.', 'error');
    }
});
</script>

<script>
 function message(msg) {
        if (msg) {
            Swal.fire({
                position: "center",
                icon: "success",
                title: msg,
                showConfirmButton: false,
                timer: 3000
            }).then(() => {
                window.location.href = "/admin";
            });
        }
    }
</script>


    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>