<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge"
    /><![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="images/favicon.png" rel="shortcut icon" />
    <title>The Elegant Adobe - Home Decor</title>

    <!--====== Google Font ======-->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
      rel="stylesheet"
    />

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/css/vendor.css" />

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/css/utility.css" />

    <!--====== App ======-->
    <link rel="stylesheet" href="/css/app.css" />

    <link rel="stylesheet" href="/css/productDetailsLogo.css">

    <link rel="stylesheet" href="/css/profileName.css">
  </head>
  <body class="config">
    <div class="preloader is-active">
      <div class="preloader__wrap">
        <img class="preloader__img" src="/images/preloader.png" alt="" />
      </div>
    </div>

    <!--====== Main App ======-->
    <div id="app">
      <!--====== Main Header ======-->
      <header class="header--style-1 header--box-shadow">
        <!--====== Nav 1 ======-->
        <nav class="primary-nav primary-nav-wrapper--border">
          <div class="container">
            <!--====== Primary Nav ======-->
            <div class="primary-nav">
              <!--====== Main Logo ======-->

              <a
                class="main-logo"
                href="/"
                style="display: inline-block; margin-left: -15px"
              >
                <%- include('../../views/partials/icons/icon-logo') %>
              </a>
              <!--====== End - Main Logo ======-->

              <!--====== Search Form ======-->
              <!-- <form class="main-form">
                <label for="main-search"></label>

                <input
                  class="input-text input-text--border-radius input-text--style-1"
                  type="text"
                  id="main-search"
                  placeholder="Search"
                />

                <button
                  class="btn btn--icon fas fa-search main-search-button"
                  type="submit"
                ></button>
              </form> -->
              <!--====== End - Search Form ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation">
                <button
                  class="btn btn--icon toggle-button fas fa-cogs"
                  type="button"
                ></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">
                  <span class="ah-close">✕ Close</span>

                  <!--====== List ======-->
                  <ul
                    class="ah-list ah-list--design1 ah-list--link-color-secondary"
                  >
                    <li
                      class="has-dropdown"
                      data-tooltip="tooltip"
                      data-placement="left"
                      title="Account"
                    >
                      <%if(locals.user){%>
                      <a href="/profile"><i><%=locals.user.name%></i></a>

                      <%}else{%>

                      <a><i class="far fa-user-circle"></i></a>

                      <%}%>

                      <!--====== Dropdown ======-->

                      <span class="js-menu-toggle"></span>
                      <ul style="width: 120px">
                        <%if(locals.user){%>
                        <li>
                          <a href="/profile"><i><%=locals.user.name%></i> </a>
                        </li>

                        <li>
                          <a href="/logout"
                            ><i class="fas fa-lock-open u-s-m-r-6"></i>

                            <span>Logout</span></a
                          >
                        </li>
                        <%}else{%>
                        <li>
                          <a href="/signup"
                            ><i class="fas fa-user-plus u-s-m-r-6"></i>

                            <span>Signup</span></a
                          >
                        </li>
                        <li>
                          <a href="/login"
                            ><i class="fas fa-lock u-s-m-r-6"></i>

                            <span>Login</span></a
                          >
                        </li>
                        <%}%>
                      </ul>
                      <!--====== End - Dropdown ======-->
                    </li>
                  </ul>
                  <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
              </div>
              <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
          </div>
        </nav>
        <!--====== End - Nav 1 ======-->

        <!--====== Nav 2 ======-->
        <nav class="secondary-nav-wrapper">
          <div class="container">
            <!--====== Secondary Nav ======-->
            <div class="secondary-nav">
              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation1"></div>
              <!--====== End - Dropdown Main plugin ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation2"></div>
              <!--====== End - Dropdown Main plugin ======-->

              <!--====== Dropdown Main plugin ======-->
              <div class="menu-init" id="navigation3">
                <button
                  class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop"
                  type="button"
                ></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">
                  <span class="ah-close">✕ Close</span>

                  <!--====== List ======-->
                  <ul
                    class="ah-list ah-list--design1 ah-list--link-color-secondary"
                  >
                    <li>
                      <a href="/"><i class="fas fa-home"></i></a>
                    </li>
                    <li>
                      <a href="/wishlist"><i class="far fa-heart"></i></a>
                    </li>
                    <li class="has-dropdown">
                      <a class="mini-cart-shop-link" href="/cart"
                        ><i class="fas fa-shopping-bag"></i>
                        </a>

                      <!--====== Dropdown ======-->

                      <span class="js-menu-toggle"></span>

                      <!--====== End - Dropdown ======-->
                    </li>
                  </ul>
                  <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
              </div>
              <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Secondary Nav ======-->
          </div>
        </nav>
        <!--====== End - Nav 2 ======-->
      </header>
      <!--====== End - Main Header ======-->

      <!--====== App Content ======-->
      <div class="app-content">
        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">
          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                  <ul class="breadcrumb__list">
                    <li class="has-separator">
                      <a href="/">Home</a>
                    </li>
                    <li class="is-marked">
                      <a href="#">My Account</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--====== End - Section 1 ======-->

        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">
          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="dash">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-12">
                    <!--====== Dashboard Features ======-->
                    <div
                      class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30"
                    >
                      <div class="dash__pad-1">
                        <span class="dash__text u-s-m-b-16"
                          >Hello, <%= user.name%></span
                        >
                        <ul class="dash__f-list">
                          <li>
                            <a href="/profile">My Profile</a>
                          </li>
                          <li>
                            <a href="/address">Address Book</a>
                          </li>

                          <li>
                            <a class="dash-active" href="/orders">My Orders</a>
                          </li>
                          <li>
                            <a href="/wallet">My Wallet</a>
                          </li>
                          <li>
                            <a href="/logout">Logout</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="dash__box dash__box--bg-white dash__box--shadow dash__box--w"
                    >
                      <div class="dash__pad-1">
                        <ul class="dash__w-list">
                          <li>
                            <div class="dash__w-wrap">
                              <span class="dash__w-icon dash__w-icon-style-1"
                                ><i class="fas fa-cart-arrow-down"></i
                              ></span>

                              <span class="dash__w-text">4</span>

                              <span class="dash__w-name">Orders Placed</span>
                            </div>
                          </li>
                          <li>
                            <div class="dash__w-wrap">
                              <span class="dash__w-icon dash__w-icon-style-2"
                                ><i class="fas fa-times"></i
                              ></span>

                              <span class="dash__w-text">0</span>

                              <span class="dash__w-name">Cancel Orders</span>
                            </div>
                          </li>
                          <li>
                            <div class="dash__w-wrap">
                              <span class="dash__w-icon dash__w-icon-style-3"
                                ><i class="far fa-heart"></i
                              ></span>

                              <span class="dash__w-text">0</span>

                              <span class="dash__w-name">Wishlist</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--====== End - Dashboard Features ======-->
                  </div>
                  <div class="col-lg-9 col-md-12">
                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                    <div
                      class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30"
                    >
                      <div class="dash__pad-2">
                        <div class="dash-l-r">
                          <div>
                            <div class="manage-o__text-2 u-c-secondary">
                              Order #<%= order._id %>
                            </div>
                            <div class="manage-o__text u-c-silver">
                              Placed on <%= new
                              Date(order.createdAt).toLocaleString() %>
                            </div>
                          </div>
                          <div>
                            <div class="manage-o__text-2 u-c-silver">
                              Total:

                              <span class="manage-o__text-2 u-c-secondary"
                                >₹<%= order.totalAmount.toFixed(2) %></span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%order.products.forEach((product, index) =>{%>

                    <div
                      class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30"
                    >
                      <div class="dash__pad-2">
                        <div class="manage-o">
                          <div class="manage-o__header u-s-m-b-30">
                            <div class="manage-o__icon">
                              <i class="fas fa-box u-s-m-r-5"></i>
                              <span class="manage-o__text"
                                >Package <%= index + 1 %></span
                              >
                            </div>
                          </div>
                          <div class="dash-l-r">
                            <div class="manage-o__text u-c-secondary"></div>
                            <div class="manage-o__icon">
                              <i class="fas fa-truck u-s-m-r-5"></i>
                              <span class="manage-o__text">Standard</span>
                            </div>
                          </div>
                          <div class="manage-o__timeline">
                            <div class="timeline-row">
                              <div class="col-lg-4 u-s-m-b-30">
                                <div class="timeline-step">
                                  <div
                                    class="timeline-l-i <%= product.status === 'Processing' || product.status === 'Shipped' || product.status === 'Delivered' ? 'timeline-l-i--finish' : '' %>"
                                  >
                                    <span class="timeline-circle"></span>
                                  </div>
                                  <span class="timeline-text">Processing</span>
                                </div>
                              </div>
                              <div class="col-lg-4 u-s-m-b-30">
                                <div class="timeline-step">
                                  <div
                                    class="timeline-l-i <%= product.status === 'Shipped' || product.status === 'Delivered' ? 'timeline-l-i--finish' : '' %>"
                                  >
                                    <span class="timeline-circle"></span>
                                  </div>
                                  <span class="timeline-text">Shipped</span>
                                </div>
                              </div>
                              <div class="col-lg-4 u-s-m-b-30">
                                <div class="timeline-step">
                                  <div
                                    class="timeline-l-i <%= product.status === 'Delivered' ? 'timeline-l-i--finish' : '' %>"
                                  >
                                    <span class="timeline-circle"></span>
                                  </div>
                                  <span class="timeline-text">Delivered</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="manage-o__description">
                            <div class="description__container">
                              <div class="description__img-wrap">
                                <% let img = product.productId.image[0] %>
                                <img
                                  class="u-img-fluid"
                                  src="<%= img.url %>"
                                  alt="<%= product.productId.name %>"
                                />
                              </div>
                              <div class="description-title">
                                <%= product.productId.name %>
                              </div>
                            </div>
                            <div class="description__info-wrap">
                              <div>
                                <span class="manage-o__text-2 u-c-silver"
                                  >Quantity:
                                  <span class="manage-o__text-2 u-c-secondary"
                                    ><%= product.quantity %></span
                                  ></span
                                >
                              </div>
                              <div>
                                <span class="manage-o__text-2 u-c-silver"
                                  >Total:
                                  <span class="manage-o__text-2 u-c-secondary"
                                    >₹<%= (product.discountedPrice *
                                    product.quantity).toFixed(2) %></span
                                  ></span
                                >
                              </div>
                            </div>
                          </div>

                          <div class="u-s-m-t-15" style="text-align: right">
                            <div class="u-s-m-t-15" style="text-align: right">
                              <% if (product.status === "Cancelled") { %>
                              <span style="color: #dc3545; font-weight: 600">Cancelled</span>
                              <% if (product.cancellationReason) { %>
                              <p
                                style="
                                  color: #dc3545;
                                  font-size: 14px;
                                  margin-top: 8px;
                                  text-align: right;
                                "
                              >
                                Reason: <%= product.cancellationReason %>
                              </p>
                              <% } %> 
                              <% } else if (product.status ==="Returned") { %>
                              <span style="color: #28a745; font-weight: 600">
                                Returned
                              </span>
                              <% if (product.returnReason) { %>
                              <p
                                style="
                                  color: #28a745;
                                  font-size: 14px;
                                  margin-top: 8px;
                                  text-align: right;
                                "
                              >
                                Return Reason: <%= product.returnReason %>
                              </p>
                              <% } %> 
                              <% } else if (product.status === "Return Requested") { %>
                              <span style="color: #ffc107; font-weight: 600">
                                Return Requested
                              </span>
                              <% if (product.returnReason) { %>
                              <p
                                style="
                                  color: #ffc107;
                                  font-size: 14px;
                                  margin-top: 8px;
                                  text-align: right;
                                "
                              >
                                Return Reason: <%= product.returnReason %>
                              </p>
                              <% } %> 
                              <% } else { %> <% if(product.isCancellable && product.status !== "Delivered") { %>
                              <button
                                id="cancelBtn_<%= order._id %>_<%= product.originalProductId %>"
                                class="dash__custom-link btn--e-transparent-brand-b-2 u-s-m-t-10"
                                onclick="cancelOrder('<%= order._id %>', '<%= product.originalProductId %>')"
                              >
                                Cancel Order
                              </button>
                              <% } %> 
                              <% if (product.isReturnable && product.status === "Delivered") { %>
                              <button
                                id="returnBtn_<%= order._id %>_<%= product.originalProductId %>"
                                class="dash__custom-link btn--e-transparent-brand-b-2 u-s-m-t-10"
                                onclick="requestReturn('<%= order._id %>', '<%= product.originalProductId %>')"
                              >
                                Return
                              </button>
                              <% } %> 
                              <% } %>

                              <!-- Unified reason input container (initially hidden) -->
                              <div
                                id="reasonContainer_<%= order._id %>_<%= product.originalProductId %>"
                                style="display: none; margin-top: 15px"
                              >
                                <div style="margin-bottom: 10px">
                                  <select
                                    id="reasonSelect_<%= order._id %>_<%= product.originalProductId %>"
                                    onchange="handleReasonChange('<%= order._id %>', '<%= product.originalProductId %>')"
                                    style="
                                      width: 100%;
                                      padding: 12px 16px;
                                      border: 2px solid #e0e0e0;
                                      border-radius: 6px;
                                      font-size: 14px;
                                      font-family: inherit;
                                      background-color: #fff;
                                      cursor: pointer;
                                      transition: border-color 0.3s ease;
                                    "
                                  >
                                    <option value="">-- Select a reason --</option>
                                  </select>
                                </div>
                                <div
                                  style="
                                    display: flex;
                                    gap: 10px;
                                    justify-content: flex-end;
                                  "
                                >
                                  <button
                                    id="submitBtn_<%= order._id %>_<%= product.originalProductId %>"
                                    onclick="submitReason('<%= order._id %>', '<%= product.originalProductId %>')"
                                    style="
                                      background-color: #dc3545;
                                      color: white;
                                      border: none;
                                      padding: 8px 16px;
                                      border-radius: 4px;
                                      font-size: 13px;
                                      cursor: pointer;
                                      transition: background-color 0.3s ease;
                                    "
                                    onmouseover="this.style.backgroundColor='#c82333'"
                                    onmouseout="this.style.backgroundColor='#dc3545'"
                                  >
                                    Submit
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <%})%>

                    <div class="row">
                      <div class="col-lg-6">
                        <div
                          class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30"
                        >
                          <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                            <h2 class="dash__h2 u-s-m-b-8">
                              <%= order.shippingAddress.name %>
                            </h2>

                            <span class="dash__text-2">
                              <%= order.shippingAddress.address %>, <%=
                              order.shippingAddress.locality %>, <%=
                              order.shippingAddress.state %> - <%=
                              order.shippingAddress.pincode %> - <%=
                              order.shippingAddress.country %></span
                            >

                            <span class="dash__text-2"
                              >(+0) <%= order.shippingAddress.phone || 'N/A'
                              %></span
                            >
                          </div>
                        </div>
                        <div
                          class="dash__box dash__box--bg-white dash__box--shadow dash__box--w"
                        >
                          <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">Billing Address</h2>
                            <h2 class="dash__h2 u-s-m-b-8">
                              <%= order.shippingAddress.name %>
                            </h2>

                            <span class="dash__text-2">
                              <%= order.shippingAddress.address %>, <%=
                              order.shippingAddress.locality %>, <%=
                              order.shippingAddress.state %> - <%=
                              order.shippingAddress.pincode %> - <%=
                              order.shippingAddress.country %></span
                            >

                            <span class="dash__text-2"
                              >(+0) <%= order.shippingAddress.phone || 'N/A'
                              %></span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div
                          class="dash__box dash__box--bg-white dash__box--shadow u-h-100"
                        >
                          <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                            <div class="dash-l-r u-s-m-b-8">
                              <div class="manage-o__text-2 u-c-secondary">
                                Subtotal
                              </div>
                              <div class="manage-o__text-2 u-c-secondary">
                                ₹<%= order.products.reduce((sum, p) => sum +
                                p.discountedPrice * p.quantity, 0).toFixed(2) %>
                              </div>
                            </div>
                            <!-- Discount -->
                            <% if(order.couponDiscount){ %>
                            <div class="dash-l-r u-s-m-b-8">
                              <div class="manage-o__text-2 u-c-secondary">
                                Discount
                              </div>
                              <div class="manage-o__text-2 u-c-secondary">
                                -₹<%= (order.couponDiscount || 0).toFixed(2) %>
                              </div>
                            </div>
                            <% } %>

                            <div class="dash-l-r u-s-m-b-8">
                              <div class="manage-o__text-2 u-c-secondary">
                                Shipping Fee
                              </div>
                              <div class="manage-o__text-2 u-c-secondary">
                                ₹<%= (order.deliveryCharge || 0).toFixed(2) %>
                              </div>
                            </div>
                            <div class="dash-l-r u-s-m-b-8">
                              <div class="manage-o__text-2 u-c-secondary">
                                Total
                              </div>
                              <div class="manage-o__text-2 u-c-secondary">
                                ₹<%= order.totalAmount.toFixed(2) %>
                              </div>
                            </div>

                            
                            <span class="dash__text-2"
                              >Paid by <%= order.paymentMethod %></span
                            >
                            <div class="d-flex justify-content-end" style="margin-top: 50px;">
                              <button 
                                type="button"
                                id="downloadInvoiceBtn" 
                                class="btn btn-sm"
                                style="background-color: #8B4513; color: white; border: none; padding: 8px 16px; border-radius: 4px; font-size: 14px; cursor: pointer; display: inline-flex; align-items: center; gap: 6px; white-space: nowrap;"
                              >
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="flex-shrink: 0;">
                                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                                  <polyline points="7 10 12 15 17 10"/>
                                  <line x1="12" y1="15" x2="12" y2="3"/>
                                </svg>
                                Download Invoice
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
      </div>
      <!--====== End - App Content ======-->

      <!--====== Main Footer ======-->
      <footer>
        <div class="outer-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="outer-footer__content u-s-m-b-40">
                  <span class="outer-footer__content-title">Contact Us</span>
                  <div class="outer-footer__text-wrap">
                    <i class="fas fa-home"></i>

                    <span>4247 Ashford Drive Virginia VA-20006 USA</span>
                  </div>
                  <div class="outer-footer__text-wrap">
                    <i class="fas fa-phone-volume"></i>

                    <span>(+0) 900 901 904</span>
                  </div>
                  <div class="outer-footer__text-wrap">
                    <i class="far fa-envelope"></i>

                    <span>contact@domain.com</span>
                  </div>
                  <div class="outer-footer__social">
                    <ul>
                      <li>
                        <a class="s-fb--color-hover" href="#"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a class="s-tw--color-hover" href="#"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a class="s-youtube--color-hover" href="#"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                      <li>
                        <a class="s-insta--color-hover" href="#"
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </li>
                      <li>
                        <a class="s-gplus--color-hover" href="#"
                          ><i class="fab fa-google-plus-g"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="outer-footer__content u-s-m-b-40">
                      <span class="outer-footer__content-title"
                        >Information</span
                      >
                      <div class="outer-footer__list-wrap">
                        <ul>
                          <li>
                            <a href="cart.html">Cart</a>
                          </li>
                          <li>
                            <a href="dashboard.html">Account</a>
                          </li>
                          <li>
                            <a href="shop-side-version-2.html">Manufacturer</a>
                          </li>
                          <li>
                            <a href="dash-payment-option.html">Finance</a>
                          </li>
                          <li>
                            <a href="shop-side-version-2.html">Shop</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="outer-footer__content u-s-m-b-40">
                      <div class="outer-footer__list-wrap">
                        <span class="outer-footer__content-title"
                          >Our Company</span
                        >
                        <ul>
                          <li>
                            <a href="about.html">About us</a>
                          </li>
                          <li>
                            <a href="contact.html">Contact Us</a>
                          </li>
                          <li>
                            <a href="index.html">Sitemap</a>
                          </li>
                          <li>
                            <a href="dash-my-order.html">Delivery</a>
                          </li>
                          <li>
                            <a href="shop-side-version-2.html">Store</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="outer-footer__content">
                  <span class="outer-footer__content-title"
                    >Join our Newsletter</span
                  >
                  <form class="newsletter">
                    <div class="u-s-m-b-15">
                      <div class="radio-box newsletter__radio">
                        <input type="radio" id="male" name="gender" />
                        <div class="radio-box__state radio-box__state--primary">
                          <label class="radio-box__label" for="male"
                            >Male</label
                          >
                        </div>
                      </div>
                      <div class="radio-box newsletter__radio">
                        <input type="radio" id="female" name="gender" />
                        <div class="radio-box__state radio-box__state--primary">
                          <label class="radio-box__label" for="female"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="newsletter__group">
                      <label for="newsletter"></label>

                      <input
                        class="input-text input-text--only-white"
                        type="text"
                        id="newsletter"
                        placeholder="Enter your Email"
                      />

                      <button
                        class="btn btn--e-brand newsletter__btn"
                        type="submit"
                      >
                        SUBSCRIBE
                      </button>
                    </div>

                    <span class="newsletter__text"
                      >Subscribe to the mailing list to receive updates on
                      promotions, new arrivals, discount and coupons.</span
                    >
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lower-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="lower-footer__content">
                  <div class="lower-footer__copyright">
                    <span>Copyright © 2018</span>

                    <a href="/">Reshop</a>

                    <span>All Right Reserved</span>
                  </div>
                  <div class="lower-footer__payment">
                    <ul>
                      <li><i class="fab fa-cc-stripe"></i></li>
                      <li><i class="fab fa-cc-paypal"></i></li>
                      <li><i class="fab fa-cc-mastercard"></i></li>
                      <li><i class="fab fa-cc-visa"></i></li>
                      <li><i class="fab fa-cc-discover"></i></li>
                      <li><i class="fab fa-cc-amex"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--====== End - Main App ======-->

    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("send", "pageview");
    </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--====== Vendor Js ======-->
    <script src="/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/js/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script>
     // Global variable to track current action type
    let currentActionType = null;

    // Predefined reasons for cancellation and return
    const CANCELLATION_REASONS = [
      "Changed my mind",
      "Found a better price elsewhere",
      "Ordered by mistake",
      "Delivery taking too long",
      "Need to change delivery address",
      "Financial constraints",
      "Product no longer needed"
    ];

    const RETURN_REASONS = [
      "Product damaged or defective",
      "Wrong item received",
      "Product not as described",
      "Quality not satisfactory",
      "Size/fit issues",
      "Missing parts or accessories",
      "Changed my mind"
    ];

    function cancelOrder(orderId, productId) {
      Swal.fire({
        title: "Are you sure?",
        text: "Do you really want to cancel this order?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, cancel it!",
      }).then((result) => {
        if (result.isConfirmed) {
          showReasonInput(orderId, productId, "cancel");
        }
      });
    }

    function requestReturn(orderId, productId) {
      Swal.fire({
        title: "Request Return?",
        text: "Are you sure you want to request a return for this order?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#f39c12",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, request return!",
      }).then((result) => {
        if (result.isConfirmed) {
          showReasonInput(orderId, productId, "return");
        }
      });
    }

    function showReasonInput(orderId, productId, actionType) {
      currentActionType = actionType;

      const cancelBtn = document.getElementById(`cancelBtn_${orderId}_${productId}`);
      const returnBtn = document.getElementById(`returnBtn_${orderId}_${productId}`);
      const reasonContainer = document.getElementById(`reasonContainer_${orderId}_${productId}`);
      const reasonSelect = document.getElementById(`reasonSelect_${orderId}_${productId}`);
      const submitBtn = document.getElementById(`submitBtn_${orderId}_${productId}`);

      // Hide appropriate button
      if (cancelBtn && actionType === "cancel") {
        cancelBtn.style.display = "none";
      }
      if (returnBtn && actionType === "return") {
        returnBtn.style.display = "none";
      }

      // Populate dropdown with appropriate reasons
      if (reasonSelect) {
        const reasons = actionType === "cancel" ? CANCELLATION_REASONS : RETURN_REASONS;
        reasonSelect.innerHTML = '<option value="">-- Select a reason --</option>';
        reasons.forEach(reason => {
          const option = document.createElement('option');
          option.value = reason;
          option.textContent = reason;
          reasonSelect.appendChild(option);
        });
        
        reasonSelect.setAttribute("data-action", actionType);
      }

      // Show reason container
      if (reasonContainer) {
        reasonContainer.style.display = "block";
      }

      // Update submit button color based on action
      if (submitBtn) {
        if (actionType === "cancel") {
          submitBtn.style.backgroundColor = "#dc3545";
          submitBtn.onmouseover = function () {
            this.style.backgroundColor = "#c82333";
          };
          submitBtn.onmouseout = function () {
            this.style.backgroundColor = "#dc3545";
          };
        } else if (actionType === "return") {
          submitBtn.style.backgroundColor = "#f39c12";
          submitBtn.onmouseover = function () {
            this.style.backgroundColor = "#e68900";
          };
          submitBtn.onmouseout = function () {
            this.style.backgroundColor = "#f39c12";
          };
        }
      }

      // Focus on dropdown
      if (reasonSelect) {
        reasonSelect.focus();
      }
    }

    function submitReason(orderId, productId) {
      const reasonSelect = document.getElementById(`reasonSelect_${orderId}_${productId}`);
      const actionType = reasonSelect.getAttribute("data-action");
      
      const finalReason = reasonSelect.value;
      
      // Validate dropdown selection
      if (!finalReason) {
        Swal.fire({
          title: "No Reason Selected",
          text: "Please select a reason from the dropdown",
          icon: "warning",
          confirmButtonColor: "#3085d6",
        });
        reasonSelect.focus();
        return;
      }

      // Show loading
      const actionText = actionType === "cancel" ? "Cancelling" : "Requesting return for";
      Swal.fire({
        title: "Processing...",
        text: `${actionText} your order`,
        allowOutsideClick: false,
        allowEscapeKey: false,
        didOpen: () => {
          Swal.showLoading();
        },
      });

      // Determine API endpoint and method
      let url, method;
      if (actionType === "cancel") {
        url = `/order/${orderId}/cancel/${productId}`;
        method = "PATCH";
      } else if (actionType === "return") {
        url = `/order/return/${orderId}/${productId}`;
        method = "POST";
      }

      fetch(url, {
        method: method,
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ reason: finalReason }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            const successTitle = actionType === "cancel" ? "Cancelled!" : "Return Requested!";
            const successText =
              actionType === "cancel"
                ? "Your order has been cancelled successfully."
                : "Your return request has been submitted successfully.";

            Swal.fire(successTitle, successText, "success").then(() => {
              location.reload();
            });
          } else {
            Swal.fire(
              "Error",
              data.message || `Failed to ${actionType} the order. Please try again later.`,
              "error"
            );
          }
        })
        .catch((error) => {
          console.error(`Error ${actionType}ing order:`, error);
          Swal.fire(
            "Error!",
            "Something went wrong. Please try again later.",
            "error"
          );
        });
    }

      // download invoice
   document.addEventListener('DOMContentLoaded', function() {
  const downloadBtn = document.getElementById('downloadInvoiceBtn');
  
  if (downloadBtn) {
    downloadBtn.addEventListener('click', downloadInvoice);
    
    // Add hover effects
    downloadBtn.addEventListener('mouseenter', function() {
      this.style.backgroundColor = '#E65C00';
    });
    
    downloadBtn.addEventListener('mouseleave', function() {
      this.style.backgroundColor = '#FF6B00';
    });
  }
});

// Function to convert logo to base64
async function getLogoBase64() {
  return new Promise((resolve) => {
    const img = new Image();
    img.crossOrigin = 'anonymous';
    img.onload = function() {
      const canvas = document.createElement('canvas');
      canvas.width = img.width;
      canvas.height = img.height;
      const ctx = canvas.getContext('2d');
      ctx.drawImage(img, 0, 0);
      const dataURL = canvas.toDataURL('image/png');
      resolve(dataURL);
    };
    img.onerror = function() {
      console.error('Failed to load logo');
      resolve(null); // Return null if logo fails to load
    };
    // Try to load from public path
    img.src = '/admin-assets/The Elegant Adobe-(Compressify.io)-1.png';
  });
}

async function downloadInvoice() {  
  // Check if pdfMake is loaded
  if (typeof pdfMake === 'undefined') {
    alert('PDF library not loaded. Please refresh the page and try again.');
    console.error('pdfMake is not defined');
    return;
  }
  
  try {
  // Get logo as base64
  const logoBase64 = await getLogoBase64();
  // Prepare order data from EJS variables
  const orderData = {
    orderId: '<%= order._id %>',
    date: '<%= new Date(order.createdAt).toLocaleString() %>',
    items: [
      <% order.products.forEach((item, index) => { %>
        {
          name: '<%= item.productId.name %>',
          quantity: <%= item.quantity %>,
          price: <%= item.discountedPrice %>
        }<%= index < order.products.length - 1 ? ',' : '' %>
      <% }); %>
    ],
    subtotal: <%= order.products.reduce((sum, p) => sum + p.discountedPrice * p.quantity, 0) %>,
    discount: <%= order.couponDiscount || 0 %>,
    shippingFee: <%= order.deliveryCharge || 0 %>,
    total: <%= order.totalAmount %>,
    paymentMethod: '<%= order.paymentMethod %>',
    shippingAddress: {
      name: '<%= order.shippingAddress.name %>',
      address: '<%= order.shippingAddress.address %>',
      city: '<%= order.shippingAddress.city %>, <%= order.shippingAddress.state %> - <%= order.shippingAddress.pincode %>',
      phone: '<%= order.shippingAddress.phone %>'
    }
  };

  // Create the PDF document definition
  const docDefinition = {
    pageSize: 'A4',
    pageMargins: [40, 60, 40, 60],
    watermark: { text: 'The Elegant Adobe', color: '#FFE5CC', opacity: 0.1, bold: true, italics: false, fontSize: 60 },
    content: [
      // Header (Logo will be loaded as base64)
      {
        stack: [
          logoBase64 ? {
            image: logoBase64,
            width: 200,
            margin: [0, 0, 0, 15]
          } : {
            text: 'The Elegant Adobe', 
            style: 'header', 
            color: '#FF6B00',
            margin: [0, 0, 0, 15]
          },
          { text: 'Tax Invoice', style: 'subheader' }
        ]
      },
      {
        columns: [
          { width: '*', text: '' },
          {
            width: 'auto',
            stack: [
              { text: 'Order #' + orderData.orderId, style: 'orderNumber', alignment: 'right' },
              { text: 'Date: ' + orderData.date, style: 'date', alignment: 'right' }
            ]
          }
        ],
        margin: [0, 0, 0, 30]
      },
      
      // Billing and Shipping Details
      {
        stack: [
          { text: 'Shipping Address', style: 'sectionHeader' },
          { text: orderData.shippingAddress.name, style: 'addressText', bold: true },
          { text: orderData.shippingAddress.address, style: 'addressText' },
          { text: orderData.shippingAddress.city, style: 'addressText' },
          { text: 'Phone: ' + orderData.shippingAddress.phone, style: 'addressText' }
        ],
        margin: [0, 0, 0, 30]
      },
      
      // Order Items Table
      {
        text: 'Order Items',
        style: 'sectionHeader',
        margin: [0, 0, 0, 10]
      },
      {
        table: {
          headerRows: 1,
          widths: ['*', 'auto', 'auto', 'auto'],
          body: [
            [
              { text: 'Item', style: 'tableHeader' },
              { text: 'Quantity', style: 'tableHeader', alignment: 'center' },
              { text: 'Price', style: 'tableHeader', alignment: 'right' },
              { text: 'Total', style: 'tableHeader', alignment: 'right' }
            ]
          ].concat(orderData.items.map(function(item) {
            return [
              { text: item.name, style: 'tableCell' },
              { text: item.quantity.toString(), style: 'tableCell', alignment: 'center' },
              { text: '₹' + item.price.toFixed(2), style: 'tableCell', alignment: 'right' },
              { text: '₹' + (item.quantity * item.price).toFixed(2), style: 'tableCell', alignment: 'right' }
            ];
          }))
        },
        layout: {
          fillColor: function (rowIndex) {
            return rowIndex === 0 ? '#f5f5f5' : null;
          },
          hLineWidth: function (i, node) {
            return i === 0 || i === 1 || i === node.table.body.length ? 1 : 0.5;
          },
          vLineWidth: function () {
            return 0;
          },
          hLineColor: function () {
            return '#e0e0e0';
          },
          paddingLeft: function () { return 8; },
          paddingRight: function () { return 8; },
          paddingTop: function () { return 8; },
          paddingBottom: function () { return 8; }
        },
        margin: [0, 0, 0, 20]
      },
      
      // Total Summary
      {
        columns: [
          { width: '*', text: '' },
          {
            width: 200,
            stack: [
              {
                columns: [
                  { text: 'Subtotal:', style: 'summaryLabel' },
                  { text: '₹' + orderData.subtotal.toFixed(2), style: 'summaryValue', alignment: 'right' }
                ],
                margin: [0, 0, 0, 5]
              }
            ].concat(
              orderData.discount > 0 ? [{
                columns: [
                  { text: 'Discount:', style: 'summaryLabel' },
                  { text: '-₹' + orderData.discount.toFixed(2), style: 'summaryValue', alignment: 'right' }
                ],
                margin: [0, 0, 0, 5]
              }] : []
            ).concat([
              {
                columns: [
                  { text: 'Shipping Fee:', style: 'summaryLabel' },
                  { text: '₹' + orderData.shippingFee.toFixed(2), style: 'summaryValue', alignment: 'right' }
                ],
                margin: [0, 0, 0, 5]
              },
              {
                canvas: [
                  {
                    type: 'line',
                    x1: 0, y1: 5,
                    x2: 200, y2: 5,
                    lineWidth: 1,
                    lineColor: '#e0e0e0'
                  }
                ],
                margin: [0, 5, 0, 10]
              },
              {
                columns: [
                  { text: 'Total:', style: 'totalLabel' },
                  { text: '₹' + orderData.total.toFixed(2), style: 'totalValue', alignment: 'right' }
                ]
              }
            ])
          }
        ]
      },
      
      // Footer
      {
        text: 'Thank you for your purchase!',
        style: 'footer',
        margin: [0, 40, 0, 0]
      },
      {
        text: 'Payment Method: ' + orderData.paymentMethod,
        style: 'paymentMethod',
        margin: [0, 10, 0, 0]
      }
    ],
    
    styles: {
      header: {
        fontSize: 24,
        bold: true
      },
      subheader: {
        fontSize: 14,
        color: '#666'
      },
      orderNumber: {
        fontSize: 12,
        bold: true
      },
      date: {
        fontSize: 10,
        color: '#666',
        margin: [0, 2, 0, 0]
      },
      sectionHeader: {
        fontSize: 12,
        bold: true,
        color: '#333',
        margin: [0, 0, 0, 8]
      },
      addressText: {
        fontSize: 10,
        color: '#666',
        margin: [0, 2, 0, 0]
      },
      tableHeader: {
        fontSize: 10,
        bold: true,
        color: '#333'
      },
      tableCell: {
        fontSize: 10,
        color: '#666'
      },
      summaryLabel: {
        fontSize: 10,
        color: '#666'
      },
      summaryValue: {
        fontSize: 10,
        color: '#333'
      },
      totalLabel: {
        fontSize: 12,
        bold: true,
        color: '#333'
      },
      totalValue: {
        fontSize: 12,
        bold: true,
        color: '#FF6B00'
      },
      footer: {
        fontSize: 12,
        alignment: 'center',
        color: '#FF6B00',
        bold: true
      },
      paymentMethod: {
        fontSize: 9,
        alignment: 'center',
        color: '#999',
        italics: true
      }
    }
  };

  // Generate and download the PDF
  pdfMake.createPdf(docDefinition).download('Invoice_' + orderData.orderId + '.pdf');  
  } catch (error) {
    console.error('Error generating PDF:', error);
    alert('Error generating invoice. Please try again or contact support.');
  }
}
    </script>

    <!--====== Noscript ======-->
    <noscript>
      <div class="app-setting">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="app-setting__wrap">
                <h1 class="app-setting__h1">
                  JavaScript is disabled in your browser.
                </h1>

                <span class="app-setting__text"
                  >Please enable JavaScript in your browser or upgrade to a
                  JavaScript-capable browser.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </noscript>
  </body>
</html>
